{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Cars Catalog</h1>
<div class="row">
{% for car in cars %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static car.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ car.name }}</h5>
                <p class="card-text">{{ car.description }}</p>
                <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary"> Read More </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}